@import url(https://fonts.googleapis.com/css?family=Nosifer|Roboto);
/* ========== Reset Styles =========== */
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
em,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
embed,
figure,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
figure,
footer,
header,
section {
  display: block;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body * {
  font-family: 'Butcherman', cursive;
  font-size: 100%;
  color: #e00;
  background: #222;
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
}
.uppercase {
  text-transform: uppercase;
}
.pad-1 {
  padding: 1em;
}
.pad-2 {
  padding: .75em;
}
.pad-tb-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.pad-tb-2 {
  padding-top: .75em;
  padding-bottom: .75em;
}
.size-1 {
  font-size: 2.3em;
}
.size-2 {
  font-size: 1.75em;
}
.size-3 {
  font-size: 1.5em;
}
.size-4 {
  font-size: 1.25em;
}
.size-5 {
  font-size: 1.1em;
}
@media (min-width: 1024px) {
  .size-2 {
    font-size: 1.25em;
  }
}
.my-app {
  background: #e00;
  display: grid;
  grid-gap: .5em;
  padding: .5em;
  grid-template-areas: "heading" "factOne" "factTwo" "factThree" "factFour" "factFive";
}
@media (min-width: 1024px) {
  .my-app {
    grid-template-areas: "heading heading heading heading" "factOne factOne factTwo factTwo" "factThree belly factTwo factTwo" "factThree factFour factFour factFive";
    grid-template-columns: 1fr auto .5fr .5fr;
    grid-template-rows: .25fr 1fr auto auto;
  }
}
.heading {
  display: flex;
  align-items: center;
  grid-area: heading;
  justify-content: center;
}
.heading .title {
  font-family: 'Nosifer', sans-serif;
  max-width: 22em;
  text-align: center;
}
.check {
  width: 1.25em;
  vertical-align: middle;
}
.subtitle {
  font-family: 'Nosifer', sans-serif;
  text-align: center;
}
.img-responsive {
  width: 100%;
}
.fact.is-one {
  grid-area: factOne;
}
@media (min-width: 1024px) {
  .fact.is-one .items {
    display: flex;
    justify-content: space-around;
  }
}
.fact.is-one .item {
  text-align: center;
}
.fact.is-one .item:nth-of-type(1) .suicide {
  width: 1.5rem;
}
.fact.is-one .item .suicide {
  width: 6rem;
}
.fact.is-two {
  grid-area: factTwo;
  text-align: center;
}
@media (min-width: 1024px) {
  .fact.is-two .items {
    display: flex;
    flex-flow: column wrap;
    padding-left: 30%;
  }
}
.fact.is-two .main-img {
  background: transparent;
  width: 6rem;
}
@media (min-width: 1024px) {
  .fact.is-two .main-img {
    position: absolute;
    top: 0;
    left: 55%;
    width: calc(7.5rem);
    z-index: 10;
  }
}
.fact.is-two .item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.fact.is-two .item .item-icon {
  flex: 0 0 7.5%;
  width: 1.25rem;
  padding-right: 1em;
}
.fact.is-three {
  grid-area: factThree;
}
.fact.is-three .item {
  text-align: center;
}
.fact.is-three .item .desc {
  line-height: 1.2;
}
.fact.is-three .item .item-img:nth-of-type(1) {
  width: 3rem;
}
.fact.is-four {
  grid-area: factFour;
}
.fact.is-four .item {
  text-align: center;
}
.fact.is-five {
  grid-area: factFive;
}
.fact.is-five .item {
  text-align: center;
}
.belly {
  grid-area: "centerFlag";
}
