@import url(https://fonts.googleapis.com/css?family=Nosifer|Roboto);
/* ========== Reset Styles =========== */
/* http://meyerweb.com/eric/tools/css/reset/
	 v2.0 | 20110126
	 License: none (public domain)
*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
em,
img,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
embed,
figure,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  /* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
figure,
footer,
header,
section {
  display: block;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body * {
  font-family: 'Butcherman', cursive;
  color: #e00;
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
}
section {
  background: #222;
}
.uppercase {
  text-transform: uppercase;
}
.shadow {
  text-shadow: 5px 5px 15px #000;
}
.lh-2 {
  line-height: 1.2;
}
.pad-1 {
  padding: 1em;
}
.pad-2 {
  padding: .75em;
}
.pad-tb-1 {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}
.pad-tb-2 {
  padding-top: .75em;
  padding-bottom: .75em;
}
.pad-tb-3 {
  padding-top: .5em;
  padding-bottom: .5em;
}
.pad-b-1 {
  padding-bottom: .75em;
}
@media (min-width: 768px) {
  .pad-b-1 {
    padding-bottom: 1.75em;
  }
}
.pad-t-1 {
  padding-top: 0;
}
.size-1 {
  font-size: 2.3em;
}
.size-2 {
  font-size: 2em;
}
.size-3 {
  font-size: 1.75em;
}
.size-4 {
  font-size: 1.5em;
}
.size-5 {
  font-size: 1.1em;
}
.center {
  text-align: center;
}
@media (min-width: 768px) {
  .pad-b-1 {
    padding-bottom: 0;
  }
}
.my-app {
  background: #e00;
  display: grid;
  grid-gap: .5em;
  padding: .5em;
  grid-template-areas: "heading" "factTwo" "factOne" "factThree" "factFour" "factFive";
}
@media (min-width: 768px) {
  .my-app {
    font-size: 1.2em;
  }
}
@media (min-width: 1024px) {
  .my-app {
    grid-template-areas: "heading heading heading heading" "factOne factOne factTwo factTwo" "factThree belly factTwo factTwo" "factThree factFour factFour factFive";
    grid-template-columns: 1fr auto .5fr .5fr;
    grid-template-rows: .25fr 1fr auto auto;
  }
}
.heading {
  display: flex;
  align-items: center;
  grid-area: heading;
  justify-content: center;
}
.heading .title-container {
  width: 17.375em;
  z-index: 30;
}
@media (min-width: 768px) {
  .heading .title-container {
    width: 30em;
  }
}
.heading .title-container .title {
  font-family: 'Nosifer', sans-serif;
  max-width: 22em;
  text-align: center;
}
.check {
  width: 1.25em;
  vertical-align: middle;
}
.subtitle {
  font-family: 'Nosifer', sans-serif;
  text-align: center;
  z-index: 30;
  position: relative;
}
.img-responsive {
  width: 100%;
}
.fact.is-one {
  grid-area: factOne;
}
@media (min-width: 768px) {
  .fact.is-one .items {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
}
@media (min-width: 1024px) {
  .fact.is-one .items {
    display: flex;
    justify-content: space-around;
  }
}
.fact.is-one .item {
  text-align: center;
}
.fact.is-one .item:nth-of-type(1) .suicide {
  width: 2rem;
}
.fact.is-one .item .suicide {
  width: 9rem;
}
@media (min-width: 768px) {
  .fact.is-one .item .desc {
    font-size: 2em;
  }
  .fact.is-one .item .desc span {
    font-size: .5em;
  }
}
.fact.is-two {
  grid-area: factTwo;
  text-align: center;
}
@media (min-width: 768px) {
  .fact.is-two .main-content {
    display: flex;
  }
}
.fact.is-two .bodybag {
  height: 280px;
}
@media (min-width: 768px) {
  .fact.is-two .bodybag {
    width: 15%;
  }
}
.fact.is-two .main-img {
  background: transparent;
  width: 6rem;
  position: absolute;
  top: -18%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .fact.is-two .main-img {
    top: -150px;
    left: 15%;
  }
}
@media (min-width: 1024px) {
  .fact.is-two .main-img {
    left: 55%;
    width: calc(7.5rem);
    z-index: 10;
  }
}
.fact.is-two .items {
  width: 17.375em;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .fact.is-two .items {
    padding: 2em 0;
    width: 22em;
  }
}
@media (min-width: 1024px) {
  .fact.is-two .items {
    padding-left: 30%;
  }
}
.fact.is-two .items .item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .fact.is-two .items .item p {
    font-size: 2.5em;
  }
  .fact.is-two .items .item p span {
    font-size: .5em;
  }
}
.fact.is-two .items .item .item-icon {
  width: 2.5em;
  padding-right: 1em;
}
.fact.is-three {
  grid-area: factThree;
}
.fact.is-three .main-container {
  width: 17.375em;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .fact.is-three .subtitle-sub {
    font-size: 2.5em;
  }
  .fact.is-three .subtitle-sub span {
    font-size: .5em;
  }
}
.fact.is-three .items {
  text-align: center;
  width: 17.375em;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .fact.is-three .items {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
  }
}
.fact.is-three .items .desc {
  line-height: 1.2;
}
@media (min-width: 768px) {
  .fact.is-three .items .item {
    padding: 0 1em 1.5em;
  }
}
.fact.is-three .items .item:nth-of-type(1) .item-img {
  width: 6rem;
}
.fact.is-four {
  grid-area: factFour;
}
.fact.is-four .item {
  text-align: center;
}
.fact.is-four .item img {
  width: 10rem;
}
@media (min-width: 768px) {
  .fact.is-four .item img {
    padding: 1em 0 0;
    width: 14rem;
  }
}
@media (min-width: 768px) {
  .fact.is-four .item .desc {
    font-size: 2.5em;
  }
  .fact.is-four .item .desc span {
    font-size: .5em;
  }
}
.fact.is-five {
  grid-area: factFive;
}
.fact.is-five .item {
  text-align: center;
}
.belly {
  grid-area: "centerFlag";
  display: none;
}
@media (min-width: 1024px) {
  .belly {
    display: block;
  }
}
