// out: style.css
@import url(https://fonts.googleapis.com/css?family=Creepster|Nosifer|Eater);
@import "partials/reset";
@import "partials/general";

@red: #e00;
@width-xs: 17.375em;
@width-sm: 22em;
@xs: 480px;
@small: 768px;
@medium: 1024px;
@large: 1440px;

.my-app {
    background: @red;
    display: grid;
    grid-gap: .5em;
    grid-template-areas:
        "heading"
        "factTwo"
        "factOne"
        "factThree"
        "factFour"
        "factFive";
    @media (min-width: @small) {
        font-size: 1.2em;
    }
    @media (min-width: @medium) {
        grid-template-areas:
            "heading heading heading heading"
            "factOne factOne factTwo factTwo"
            "factThree belly factTwo factTwo"
            "factThree factFour factFour factFive";
        grid-template-columns: 1.5fr auto .5fr .5fr;
        grid-template-rows: auto auto auto auto;
    }
}

.heading {
    display: flex;
    align-items: center;
    grid-area: heading;
    justify-content: center;
    .title-container {
        width: @width-xs;
        z-index: 30;
        @media (min-width: @xs) {
        }
        @media (min-width: @small) {
            width: 30em;
        }
        .title {
            font-family: 'Nosifer', sans-serif;
            max-width: 22em;
            text-align: center;
        }
    }
}

.check {
    width: 1.25em;
    vertical-align: middle;
}

.subtitle {
    font-family: 'Nosifer', sans-serif;
    text-align: center;
    z-index: 30;
    position: relative;
}

.img-responsive {
    width: 100%;
}

.fact {
    @media (min-width: @small) {
    }
    &.is-one {
        grid-area: factOne;
        .items {
            @media (min-width: @small) {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
            }
            @media (min-width: @medium) {
                display: flex;
                justify-content: space-around;
            }
        }
        .item {
            text-align: center;
            &:nth-of-type(1) {
               .suicide {
                   width: 2rem;
               }
            }
            .suicide {
                width: 9rem;
            }
            .desc {
                @media (min-width: @small) {
                    font-size: 2em;
                    span {
                        font-size: .5em;
                    }
                }
                @media (min-width: @medium) {
                    font-size: 1.5em;
                }
            }
        }
    }
    &.is-two {
        grid-area: factTwo;
        text-align: center;
        .main-content {
            @media (min-width: @small) {
                display: flex;
            }
            @media (min-width: @medium) {
                display: initial;
            }
        }
        .bodybag {
            height: 280px;
            @media (min-width: @small) {
                width: 15%;
            }
            @media (min-width: @medium) {
                width: 140px;
            }
        }
        .main-img {
            background: transparent;
            width: 6rem;
            position: absolute;
            top: -19%;
            left: 50%;
            transform: translateX(-50%);
            @media (min-width: @xs) {
            }
            @media (min-width: @small) {
                top: -185px;
                left: 17%;
            }

            @media (min-width: @medium) {
                left: 68%;
                top: -70px;
                width: 5rem;
                z-index: 10;
            }
        }
        .items {
            width: @width-xs;
            margin: 0 auto;
            @media (min-width: @small) {
                padding: 2em 0;
                width: @width-sm;
            }
            @media (min-width: @medium) {
                // padding-left: 15%;
            }
            .item {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                @media (min-width: @small) {
                }
                .desc {
                    @media (min-width: @small) {
                        font-size: 2em;
                        span {
                            font-size: .5em;
                        }
                    }
                    @media (min-width: @medium) {
                        white-space: nowrap;
                    }
                }
                .item-icon {
                    width: 2.5em;
                    padding-right: 1em;
                    @media (min-width: @small) {
                    }
                }
            }
        }
    }

    &.is-three {
        grid-area: factThree;
        .main-container {
            width: @width-xs;
            margin: 0 auto;
            @media (min-width: @small) {
                width: @width-sm;
                span {
                    display: block;
                }
            }
        }
        .subtitle-sub {
            @media (min-width: @small) {
                font-size: 2em;
                span {
                    font-size: .5em;
                }
            }
        }
        .items {
            text-align: center;
            width: @width-xs;
            margin: 0 auto;
            @media (min-width: @small) {
                display: flex;
                justify-content: space-around;
                align-items: flex-end;
                width: 90%;
            }
            .desc {
                line-height: 1.2;
            }
            .item {
                @media (min-width: @small) {
                    padding: 0 1em 1.5em;
                }
                @media (min-width: @medium) {
                    flex: 0 0 65%;
                }
                &:nth-of-type(1) {
                    .item-img {
                        width: 6rem;
                    }
                    @media (min-width: @medium) {
                        flex: 0 0 20%;
                    }
                }
            }
        }
    }
    &.is-four {
        grid-area: factFour;
        .item {
            text-align: center;
            img {
                width: 10rem;
                @media (min-width: @small) {
                    padding: 1em 0 0;
                    width: 14rem;
                }
            }
            .desc {
                @media (min-width: @small) {
                    font-size: 2em;
                    span {
                        font-size: .5em;
                    }
                }
            }
        }
    }
    &.is-five {
        grid-area: factFive;
        .item {
            text-align: center;
        }
    }
}

.belly {
    grid-area: "centerFlag";
    display: none;
    @media (min-width: @medium) {
        display: block;
    }
}